{% extends "base.html" %}

{% block title %}{{ REFEREE_TITLE|safe }} - {% endblock %}
{% block meta_description %}{{ REFEREE_DESCRIPTION|safe }}{% endblock %}

{% block container_class %}rules{% endblock %}

{% block twitter_title %}{{ REFEREE_TITLE|safe }}{% endblock %}
{% block twitter_description %}{{ REFEREE_DESCRIPTION|safe }}{% endblock %}

{% block og_title %}{{ REFEREE_TITLE|safe }}{% endblock %}
{% block og_description %}{{ REFEREE_DESCRIPTION|safe }}{% endblock %}

{% block container %}
		<h1 class="main-header">Referee Guidelines</h1>

		<p>For game rules, head over to the <a href="/rules/">rules page</a>.</p>
		<p>For other regulations and requirements, head over to the <a href="/rules/regulations/">regulations page</a>.</p>

		<h2 id="section-1">Refereeing <a href="#section-1" class="float-right">I</a></h2>
		<ol>
			<li>
				Referee Capacity
				<ol>
					<li>
						All games are to be monitored by a minimum of two designated referees.
						<ol>
							<li>Head Referee acts as court monitor, rule enforcer, and main referee for alerting infractions.</li>
							<li>Burden Referee acts as court monitor, rule enforcer, and main referee for determining Burden and calling Burden Countdown in accordance with <a href="/rules/#section-6">Game Rules Section VI</a>.</li>
						</ol>
					</li>
					<li>
						Two Line Referees are permitted if available.
						<ol>
							<li>Line Referees act as court monitors, rule enforcers, and main referees for alerting court boundary infractions in accordance with <a href="/rules/#section-12">Game Rules Section XII</a>.</li>
						</ol>
					</li>
					<li>In the case of three referees, two will act as Main Referees and stand along both Attack Lines on the same side of the court and the third will act as Burden Referee and stand on the opposite side of the court at the Center Line.</li>
				</ol>
			</li>
			<li>
				Preparation
				<ol>
					<li>Before each game, the referees must inspect the condition of the court, the balls, and the players.
						<ol>
							<li>Referees must provide and approve required items if a court is ill-equipped in accordance with <a href="/rules/#section-1">Game Rules Section I</a>.</li>
							<li>Referees must review and approve each team's player count, apparel, and physical condition in accordance with <a href="/rules/#section-3">Game Rules Section III</a>.</li>
						</ol>
					</li>
					<li>Referees are required to place balls along the Center Line between the sidelines and the Ball Placement Markers before the Opening Rush in accordance with <a href="/rules/#section-5">Game Rules Section V Article I</a>.</li>
					<li>Whistles are recommended but not required for referees.</li>
				</ol>
			</li>
			<li>
				Enforcement
				<ol>
					<li>All referees are responsibly for ruling on any situation quickly and fairly during gameplay.</li>
					<li>Decisions by referees are final.</li>
					<li>Referees may not step within the court boundaries except to initiate a Stoppage of Play.</li>
					<li>Referees may not intentionally interfere with any Active ball or player during gameplay.</li>
				</ol>
			</li>
			<li>
				Opening Rush
				<ol>
					<li>Referees must ensure that both teams are Ready before the Cadence begins.</li>
					<li>
						The Opening Rush Cadence is as follows: the Burden Referee signals Ready to one team and then Ready to the other team before the Head Referee signals the start of play.
						<ol>
							<li>The pacing between Ready signals and the signal starting play should be consistent and symmetrical.</li>
							<li>Assumption is made that teams are Ready and the Cadence is only interrupted if a player on either team signals that they are not Ready.</li>
						</ol>
					</li>
				</ol>
			</li>
			<li>
				Ball Retrieval
				<ol>
					<li>The referees may not intentionally touch any Active balls during gameplay.</li>
					<li>With no Designated Ball Retrievers or nonactive players available, referees should place any stray ball motionless back on the court at the point in which it exited the court boundaries.</li>
				</ol>
			</li>
			<li>
				Stoppage of Play
				<ol>
					<li>
						A Stoppage of Play halts all gameplay.
						<ol>
							<li>A Stoppage of Play results from any disputes, injuries, interferences, rule infraction decisions, lost balls, foreign objects, or code of conduct violations.</li>
						</ol>
					</li>
					<li>
						Only the Head Referee(s) and Burden Referee are able to instigate a Stoppage of Play.
						<ol>
							<li>Line Referees may only signal to the Head Referee(s) or Burden Referee to request a Stoppage of Play.</li>
						</ol>
					</li>
					<li>In case of disputes, all referees must convene at the center of the court to collaborate on a resolution.</li>
				</ol>
			</li>
			<li>
				Referee Communication
				<ol>
					<li>Only the designated captain or coach of each competing team may engage in communication with a referee before, after, and during a Stoppage of Play.</li>
					<li>No other players, captains, or spectators may communicate with any referee during gameplay.</li>
					<li>During Stoppage of Play, all referees have the ability to deny communication between captains and coaches to maintain continuation of play.</li>
					<li>
						In case of disputes, referees are required to explain and clarify the final resolution to all captains and coaches.
						<ol>
							<li>Captains and coaches are allowed to appeal the referee decision if they are aware of the correct ruling.</li>
							<li>An appeal can only be given during a Stoppage of Play and must include the event coordinator.</li>
							<li>The event coordinator and/or attending regional director's decisions are final.</li>
						</ol>
					</li>
				</ol>
			</li>
			<li>
				Yellow and Red Cards
				<ol>
					<li>
						Only Head Referees and Burden Referees are able to issue Yellow Cards and Red Cards.
						<ol>
							<li>In lieu of physical cards, the referee may announce card levels verbally.</li>
						</ol>
					</li>
					<li>Card colors and levels and enforcement are to be employed in accordance with <a href="/rules/regulations/#section-3">Regulations and Requirements Section III</a>.</li>
				</ol>
			</li>
		</ol>

		<h2 id="section-2">Checklist <a href="#section-2" class="float-right">II</a></h2>
		<ol>
			<li>
				Pre-Gameplay
				<ol>
					<li>Check gameplay equipment in accordance with <a href="/rules/#section-1">Game Rules Section I</a>.</li>
					<li>Check team apparel and player capacity in accordance with <a href="/rules/#section-3">Game Rules Section III</a>.</li>
					<li>Designate Head Referee(s), Burden Referee, Line Referees, and team captains.</li>
					<li>Make sure balls and players are in place for the Opening Rush in accordance with <a href="/rules/#section-5">Game Rules Section V</a>.</li>
				</ol>
			</li>
			<li>
				Gameplay
				<ol>
					<li>
						Ensure each ball is retrieved and activated from the Opening Rush.
						<ol>
							<li>Watch for False Starts.</li>
							<li>Watch for players stepping over court boundaries.</li>
						</ol>
					</li>
					<li>Be alert for rule infractions.</li>
					<li>Make decisions quickly and fairly for any Stoppages of Play.</li>
					<li>Track active and nonactive players as well as Burden before and after Stoppages of Play.</li>
					<li>Ensure players maintain Queue integrity.</li>
					<li>Burden Referee must maintain a consistent Burden Countdown pace and determination of initiating the Throw Clock.</li>
				</ol>
			</li>
			<li>
				Post-Match
				<ol>
					<li>Make sure all designated balls are stationed within their assigned court.</li>
					<li>Report match scores to the event coordinator.</li>
				</ol>
			</li>
		</ol>

		<h2 id="section-3">Stipulations <a href="#section-3" class="float-right">III</a></h2>
		<ol>
			<li>
				Requirements
				<ol>
					<li>
						All teams participating in Elite Dodgeball sanctioned events must designate at least three players on their roster to referee games per division per scheduled tournament.
						<ol>
							<li>Teams may provide their entire roster as designated referees.</li>
							<li>All teams must submit their list of designated referees to the event coordinator prior to the start of the event.</li>
							<li>If a team is not scheduled to referee a particular round-robin match, that team's designated referees are not required to referee for that round.</li>
						</ol>
					</li>
				</ol>
			</li>
			<li>
				Designated Referee Compensation
				<ol>
					<li>
						Only and all designated referees will be compensated via food and drink provided by Elite Dodgeball for the entire duration of that scheduled tournament.
						<ol>
							<li>There will be no monetary compensation in the form of checks, cash, or otherwise.</li>
						</ol>
					</li>
					<li>
						Designated referees that refuse to officiate during a scheduled match are ineligible for compensation.
						<ol>
							<li>Designated referees may refuse due to injuries or emergencies.</li>
						</ol>
					</li>
				</ol>
			</li>
		</ol>
{% endblock %}
